{% load staticfiles %}

<html>

  <head>
    {% include "newui/head.html" %}
    {% block extra_css %}{% endblock %}
  </head>

<body class="skin-green sidebar-mini">

  {% include "newui/header.html" %}
  {% include "newui/left_sidebar.html" %}

  <div class="content-wrapper">

    <section class="content-header">
      <h1>{% block h1_title %}{% endblock %}</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      {#<div id="messages">{% include 'transfers/messages.html' %}</div>#}

    {% block content %}{% endblock %}
    </section>

  </div><!-- /.container -->

  {% include "newui/js.html" %}
  {% block extra_js %}{% endblock %}

</body>
</html>
